extends layout

block content
  if currentUser
    a(href="/add", class="btn btn-primary mb-4") + Add New Movie

  if movies.length
    .row.row-cols-1.row-cols-md-2.row-cols-lg-3.g-4
      each movie in movies
        .col
          .card.border-primary.shadow-sm
            .card-body
              h5.card-title= movie.name
              p.card-text
                | Year: #{movie.year}  
                br
                | Genre: #{movie.genres.join(", ")}  
                br
                | Rating: #{movie.rating}
              .mt-3
                a.btn.btn-sm.btn-info.me-2(href=`/movies/${movie.id}`) View
                if currentUser && currentUser == movie.owner
                  a.btn.btn-sm.btn-warning.me-2(href=`/movies/${movie.id}/edit`) Edit
                  form(action=`/movies/${movie.id}/delete`, method="POST", style="display:inline")
                    button.btn.btn-sm.btn-danger(type="submit") Delete
  else
    .alert.alert-info No movies added yet.
